<div class='row justify-content-center'>
  <div class='col-6'>
    <h2 class='text-center'>Edit Project</h2>

    <%= render partial: 'form' %>
    <br />

    <div class='text-center'>
      <%= link_to 'Back', projects_path %>
    </div>

  </div>
</div>

