<div class='row justify-content-center'>
  <div class='col-6'>
    <h2 class='text-center'><%= t('project.header.new') %></h2>

    <%= render partial: 'form' %>
    <br />

    <div class='text-center'>
      <%= link_to t('button.back'), projects_path %>
    </div>

  </div>
</div>

